:root {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* 
  color-scheme: light dark;
  color: #ffffff;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  position: absolute;
  width: 141px;
  height: 24px;
  left: 170px;
  top: 321px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
}

button {
  width: 287px;
  height: 52px;
  left: 97px;
  top: 734px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  background: #e84118;
  color: #ffffff;
}

/*Retângulo formulário*/
.retanguloBranco {
  position: absolute;
  width: 343px;
  height: 568px;
  left: 69px;
  top: 275px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

/* - retângulo azul */
.retanguloAzul {
  width: 482px;
  height: 1117px;
  left: 0px;
  top: 0px;
  background: #102766;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
/* } */
